<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Untitled Document</title>
        <script src="socket.io-client/socket.io.js"></script>
        <script src="jquery/dist/jquery.min.js"></script>

        <style>
            .player {
                border: 5px solid black;
                position: absolute;
            }
        </style>
        
        <script>
            var me = {
                id: Math.floor(Math.random()*16777215).toString(16),
                color: '#'+Math.floor(Math.random()*16777215).toString(16),
                size: 50,
                pos: {
                    x: 0,
                    y: 0
                }
            };
            
            function drawPlayer(player) {
                if (!$('#' + player.id).length) {
                    var playerDiv = $("<div>")
                            .attr('id', player.id)
                            .css("background-color", player.color)
                            .addClass("player");
                    
                    $('#world').append(playerDiv);
                    
                    playerDiv.animate({
                        "width": player.size+"px", 
                        "height": player.size+"px",
                        "border-radius": "50%"
                    }, 500);
                }
                
                $('#' + player.id).css("left", player.pos.x);
                $('#' + player.id).css("top", player.pos.y);
            }
            
            
            $(window).keydown(function (event) {
                switch (event.which) {
                    case 40:
                        if (me.pos.y < $(document).height() - 100) {
                            me.pos.y += 50;
                            drawPlayer(me);
                        }
                        
                        break;
                    case 38:
                        if (me.pos.y > 0) {
                            me.pos.y -= 50;
                            drawPlayer(me);
                        }
                        
                        break;
                    case 39:
                        if (me.pos.x < $(document).width() - 100) {
                            me.pos.x += 50;
                            drawPlayer(me);
                        }
                        
                        break;
                    case 37:
                        if (me.pos.x > 0) {
                            me.pos.x -= 50;
                            drawPlayer(me);
                        }
                        
                        break;
                }
                
            });
            
            $(function () {
                drawPlayer(me);
            })
        </script>
    </head>
    <body style="padding: 0px; margin: 0px; overflow: hidden">
        <div id="world" style="width:100%; height: 100%; position: absolute;">
            
        </div>
    </body>
</html>