<form class="form-inline">
    <div class="form-group">
        <label for="todoDescField" class="control-label">To do: </label>
        <input id="todoDescField" type="text" class="form-control" placeholder="What's up?"
               ng-model="ctl.editedTodo.description" />
    </div>
    
    <button ng-click="ctl.onClickAddTodo()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
</form>

<div class="container-fluid" style="padding:25px">
    <div class="text-muted" ng-hide="ctl.taskCount() > 0">Nothing to do!</div>
    <div ng-repeat="curTodo in ctl.displayedTodo | filter: {completed: ctl.showCompleted}" class="checkbox">
        <label>
            <input type="checkbox" ng-model="curTodo.completed"/> 
            {{curTodo.description}}
        </label>
    </div>  
</div>     